
# Hier sind die Seiten Dependencies (mit composer insttalliert)
#/vendor

# Hier sind die Developer Dependencies (mit npm installiert)
#/node_modules

# Hier stehen Passwörter und andere Sensitive Daten
#/protected